<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
        <script src="bundle.js"></script>
    </head>
    <body>
        <p id="connectId"></p>
        <br />
        <input type="text" id="otherId" />
        <br /><br />
        <button id="btnConnect">Connect</button>
        <br /><br />
        <input type="text" id="txtMessage" placeholder="Enter your message"/>
        <br /><br />
        <button id="btnSend">Send</button>
        <br /><br />
        <button id="btnShowWebcam">Show webcam</button>
    </body>
</html>
